body {
  font: 400 18px/1.45 $Gilroy;
  color: $font-color;
}


html {
  font-size: 1vw;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
