@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
  .blog-content {
    background-size: 130%;
    background-position: 50% 50%;
  }
}


@media only screen and (max-width: 1170px) {
  .blog-content {
    background-size: 120%;
    background-position: 50% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .header-box__menu {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .blog-cover {
    height: 300px;
  }
  .blog-content .blog-content__description {
    margin-bottom: 90px;
  }
  .blog-cover__text h1 {
    font-size: 22px;
    line-height: initial;
  }
  .blog-content__image {
    margin-bottom: 80px;
    height: 270px;
  }
  .blog-content__text-box {
    margin-bottom: 80px;

    .blog-content__title {
      span {
        font-size: 22px;
        line-height: initial;
      }
    }
  }
}