.blog-header {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.header-box {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box__menu {
  text-align: right;
  a {
    color: $font-color;
    font-size: 16px;
    transition: color $time;
    margin-right: 40px;



    &:last-child {
      margin-right: 0;
    }

    &.active, &:hover {
      color: $green;
    }
  }
}


.blog-cover {
  position: relative;
  width: 100%;
  height: 560px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blog-cover__text {
  text-align: center;
  width: 100%;
  max-width: 710px;
  position: relative;
  z-index: 2;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
  }
}

.blog-cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 20, 32, 0.8);
    content: '';
    z-index: 2;
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 197px;
    height: 197px;
    border: 60px solid #22C568;
    content: '';
    z-index: 3;
    border-radius: 50%;
    transform: translateY(50%);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) translateY(50%);
    opacity: 1;
    filter: blur(30px);
  }
  30% {
    transform: scale(.8) translateY(50%);
    opacity: .6;
    filter: blur(100px);
  }
  100% {
    transform: scale(1) translateY(50%);
    opacity: 1;
    filter: blur(30px);
  }
}

.blog-content {
  padding: 89px 0 10px;
  background-image: url("../../img/blog-content__bg.png");
  background-repeat: repeat-y;

  .blog-content__description {
    width: 100%;
    max-width: 851px;
    margin-bottom: 139px;

    p {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }

  a {
    transition: color $time;

    &:hover {
      color: $green;
    }
  }
}

.blog-content__text-box {
  margin-bottom: 140px;

  .blog-content__title {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px;

    span {
      position: relative;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: $font-color;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 29px;
        height: 29px;
        border: 6px solid $green;
        border-radius: 50%;
        content: '';
        z-index: -1;
        transform: translate(-50%, -50%);
      }
    }
  }

  .blog-content__text {
    p {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 30px;

      li {
        margin-left: 50px;
        margin-bottom: 15px;
        position: relative;
        padding-left: 28px;

        &:before {
          position: absolute;
          top: 8px;
          left: 0;
          width: 6px;
          height: 6px;
          background: $green;
          content: '';
          border-radius: 50%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.blog-content__image {
  position: relative;
  width: 100%;
  max-width: 731px;
  margin: 0 auto 97px;
  overflow: hidden;
  height: 411px;

  &.grey {
    img {
      filter: grayscale(100%);
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-footer {
  background: $dark-grey;
  width: 100%;
  padding: 50px 0;
  font-size: 16px;
}

.blog-footer__links {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid $green;
}

.blog-footer__box {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  color: #fff;
  margin-right: 50px;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }

  a {
    margin-bottom: 5px;
    transition: color $time;

    &:hover {
      color: $green;
    }
  }
}

.blog-footer__box--title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.blog-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 15px;

  p, a {
    margin-right: 35px;
  }

  a {
    margin-bottom: 5px;
    transition: color $time;

    &:hover {
      color: $green;
    }
  }
}