<header class="blog-header">
    <div class="container">
        <div class="header-box">
            <a href="https://www.real-ware.com/">
                <img src="img/logo.png" alt="" class="header-box__logo">
            </a>
            <div class="header-box__menu">
                <a href="https://www.real-ware.com/services_strategy.html">Strategy</a>
                <a href="https://www.real-ware.com/services_develop.html">Development</a>
                <a href="https://www.real-ware.com/services_Total-Commerce.html">Total Solutions™</a>
                <a href="https://www.real-ware.com/360_approach.html">Real:360™ Your Advantage!</a>
                <a href="https://www.real-ware.com/about_overview.html">Mission</a>
                <a href="https://www.real-ware.com/Contact.html">Contact</a>
            </div>
        </div>
    </div>
</header>